<div class="container mt-4">
  <mat-card>
    <mat-card-title>Timed Drawings</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Time per image (seconds)</mat-label>
            <input matInput type="number" [(ngModel)]="duration">
          </mat-form-field>
        </div>
        
        <div class="col-md-6 col-lg-4 mb-3">
          <app-tag-filter (tagsSelected)="onTagsUpdated($event)" [externallySelectedTags]="activeTags"></app-tag-filter>
        </div>
        
        <div class="col-md-6 col-lg-4 mb-3">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Select Folder (Optional)</mat-label>
            <mat-select [(ngModel)]="selectedFolder" (selectionChange)="handleFilterChange()">
              <mat-option value="">All Folders (matching tags)</mat-option>
              <mat-option *ngFor="let folder of availableFolders" [value]="folder.name">
                {{ folder.name }} ({{folder.imageCount}} images)
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-center">
          <button mat-raised-button color="primary" (click)="startSession()" [disabled]="isRunning || !duration || checkIsNaN(duration) || duration <= 0">
            {{ sessionEverStarted ? 'Resume' : 'Start' }} Session
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <app-fullscreen-image-modal 
    *ngIf="showFullscreenModal && currentImage" 
    [imageUrl]="apiService.imageServerBaseUrl + currentImage.url"
    [imageVisible]="imageVisible"
    [timeLeft]="timeLeft"
    [isRunning]="isRunning"
    [currentImage]="currentImage"
    [isLoading]="isLoading"
    [errorLoading]="errorLoading"
    [sessionEverStarted]="sessionEverStarted"
    [activeTags]="activeTags"
    [selectedFolder]="selectedFolder"
    [sessionStateService]="sessionStateService"
    (closeModal)="closeFullscreenModal()"
    (imageLoaded)="imageLoaded()"
    (imageLoadError)="imageLoadError()"
    (nextImageManually)="nextImageManually()"
    (stopSession)="stopSession()"
    (resumeSession)="resumeSession()"
    (resetSessionAndFilters)="resetSessionAndFilters()"
    (viewSessionSummary)="viewSessionSummary()">
  </app-fullscreen-image-modal>
</div>
